* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style-type: none;

  outline: none;
  border: none;

  font-family: "Roboto-Mono", sans-serif;
  font-size: 1.6rem;
}

:root {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100svh;
  overflow-x: hidden;

  max-width: 120rem;
  padding-inline: 1rem;
  margin: 0 auto 2rem;

  overflow-y: auto;
}

.main {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.main h1 {
  text-align: center;
  font-size: 4.8rem;
  padding-bottom: 2rem;
}

.main h3 {
  font-size: 2.4rem;
  text-align: center;

  padding-block: 2rem 4rem;
}
