.studentInfo {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.studentInfo div p {
  padding-bottom: 1rem;
  text-align: center;
}

.studentInfo div p:nth-child(2) {
  padding: 1rem 6rem;

  border-radius: 1.5rem;
  background-color: gray;
}

@media only screen and (max-width: 840px) {
  .studentInfo {
    gap: 40px;
  }
}
